*{
	margin: 0;
	padding: 0;
}
body{
	width: 1920px;
	height: 1880px;
}
.allto{
	width: 1366px;
	height: 4286px;
	margin: 0 auto;
	box-shadow: 0 4px 8px #ADADAD;
}
.clear:after{
	content: "";
	display: block;
	clear: both;
}
.head{
	width: 100%;
	height: 198px;
	text-align: center;
	background-image: url(img/jins/header_1.png);
	position: relative;
}
.head img{
	width: 1366px;
	height: 148px;
	margin-top: 50px;
}
.opa{
	width: 100%;
	height: 55px;
    background-color: #9ea1a2;
	opacity: 0.8;
	filter: alpha(opacity=80);
	position: absolute;
	top: 143px;
	left: 0;
}
.logo1{
	width: 194px;
	height: 49px;
	background-image: url(img/jins/logo_2.png);
	position: absolute;
	top: 53px;
	left: 285px;
}
.he_r{
	width: 665px;
	height: 50px;
	position: absolute;
	top: 68px;
	right: 312px;
}
.he_r a{
	float: left;
	width: 108px;
    font: 18px "Microsoft Yahei";
    color: black;
    text-decoration: none;
    border-bottom: 4px solid #6a615f;
}
.he_r .he_r_2{
	border-bottom: 4px solid #d00018;
}
.he_r_1:hover{
	border-color: #d00018;
	color: #d00018;
	text-decoration: underline;
}
.he_r_2:hover{
	border-color: #d00018;
	color: #d00018;
	text-decoration: underline;
}
.he_r_3:hover{
	border-color: #d00018;
	color: #d00018;
	text-decoration: underline;
}
.he_r_4:hover{
	border-color: #d00018;
	color: #d00018;
	text-decoration: underline;
}
.he_r_5:hover{
	border-color: #d00018;
	color: #d00018;
	text-decoration: underline;
}
.he_r_6:hover{
	border-color: #d00018;
	color: #d00018;
	text-decoration: underline;
}
.opa_1{
	font: 14px "Microsoft Yahei";
	color: #fff;
	position: absolute;
	top: 20px;
	left: 326px;
	text-decoration: none;
}
.opa span{
	font: 14px "Microsoft Yahei";
	color: #fff;
	position: absolute;
	top: 20px;
	left: 388px;
}
.opa_2{
	font: 14px "Microsoft Yahei";
	color: #fff;
    position: absolute;
	top: 20px;
	left: 400px;
	text-decoration: none;
}
.body1{
	height: 266px;
	background-color: #f9f9f9;
	margin-top: 24px;
	position: relative;
}
.body1 .pic1{
	width: 434px;
	height: 266px;
}
.body1 .t1{
	width: 150px;
	font: 12px "Microsoft Yahei";
	color: #747171;
	position: absolute;
	top: 38px;
	right: 200px;
}
.body1 .line{
	height: 30px;
	position: absolute;
	top: 23px;
	right: 210px;
}
.body1 .t2{
	width: 130px;
	font: 24px "Microsoft Yahei";
	color: #000; 
	position: absolute;
	top: 23px;
	right: 70px;
}
.yin1{
	width: 15px;
	height: 14px;
	background-image: url(img/jins/icon.png);
	background-position: -80px -78px;
	position: absolute;
	top: 62px;
	left: 485px;
}
.yin2{
	width: 15px;
	height: 14px;
	background-image: url(img/jins/icon.png);
	background-position: -81px -104px;
	position: absolute;
	bottom: 22px;
	right: 70px;
}
.by1_in{
	width: 746px;
	height: 140px;
	position: absolute;
	top: 90px;
	right: 102px;
}
.by1_in .p1{
	font: 14px "Microsoft Yahei";
	color: #9b9b9b;
}
.by1_in .p2{
	font: 14px "Microsoft Yahei";
	color: #9b9b9b;
	margin-top: 25px;
}
.body2{
	height: 448px;
	background-color: #fff;
	position: relative;
}
.yin3{
	width: 15px;
	height: 14px;
	background-image: url(img/jins/icon.png);
	background-position: -80px -78px;
	position: absolute;
	top: 160px;
	left: 70px;
}
.yin4{
	width: 15px;
	height: 14px;
	background-image: url(img/jins/icon.png);
	background-position: -81px -104px;
	position: absolute;
	bottom: 110px;
	right: 548px;
}
.body2 .t1{
	width: 150px;
	font: 12px "Microsoft Yahei";
	color: #747171;
	position: absolute;
	top: 113px;
	left: 116px;
}
.body2 .line{
	height: 30px;
	position: absolute;
	top: 99px;
	left: 1px;
}
.body2 .t2{
	width: 130px;
	font: 24px "Microsoft Yahei";
	color: #000; 
	position: absolute;
	top: 99px;
	left: 13px;
}
.by2_in{
	width: 710px;
	height: 105px;
	position: absolute;
	top: 186px;
	left: 92px;
}
.by2_in p{
	font: 14px "Microsoft Yahei";
	color: #9b9b9b;
}
.body2 .pic2{
	width: 430px;
	height: 266px;
	position: absolute;
	top: 95px;
	right: 70px;
}
.body3{
	height: 265px;
	background-color: #f5f5f5;
	position: relative;
}
.body3 .pic3{
	width: 430px;
	height: 265px;
}
.yin5{
	width: 15px;
	height: 14px;
	background-image: url(img/jins/icon.png);
	background-position: -80px -78px;
	position: absolute;
	top: 52px;
	left: 482px;
}
.yin6{
	width: 15px;
	height: 14px;
	background-image: url(img/jins/icon.png);
	background-position: -81px -104px;
	position: absolute;
	bottom: 40px;
	right: 70px;
}
.body3 .t1{
	width: 140px;
	font: 12px "Microsoft Yahei";
	color: #747171;
	position: absolute;
	top: 38px;
	right: 185px;
}
.body3 .line{
	height: 30px;
	position: absolute;
	top: 22px;
	right: 178px;
}
.body3 .t2{
	width: 100px;
	font: 24px "Microsoft Yahei";
	color: #000; 
	position: absolute;
	top: 22px;
	right: 70px;
}
.by3_in{
	width: 746px;
	height: 105px;
	position: absolute;
	top: 96px;
	right: 102px;
}
.by3_in .p1{
	font: 14px "Microsoft Yahei";
	color: #9b9b9b;
}
.by3_in .p2{
	font: 14px "Microsoft Yahei";
	color: #9b9b9b;
	margin-top: 25px;
}
.body4{
	height: 424px;
	background-color: #fff;
	position: relative;
}
}
.yin7{
	width: 15px;
	height: 14px;
	background-image: url(img/jins/icon.png);
	background-position: -80px -78px;
	position: absolute;
	top: 147px;
	left: 70px;
}
.yin8{
	width: 15px;
	height: 14px;
	background-image: url(img/jins/icon.png);
	background-position: -81px -104px;
	position: absolute;
	bottom: 94px;
	right: 548px;
}
.body4 .t1{
	width: 140px;
	font: 12px "Microsoft Yahei";
	color: #747171;
	position: absolute;
	top: 90px;
	left: 112px;
}
.body4 .line{
	height: 30px;
	position: absolute;
	top: 75px;
	left: 1px;
}
.body4 .t2{
	width: 100px;
	font: 24px "Microsoft Yahei";
	color: #000; 
	position: absolute;
	top: 75px;
	left: 14px;
}
.by4_in{
	width: 710px;
	height: 125px;
	position: absolute;
	top: 172px;
	left: 90px;
}
.by4_in .p1{
	font: 14px "Microsoft Yahei";
	color: #9b9b9b;
}
.by4_in .p2{
	font: 14px "Microsoft Yahei";
	color: #9b9b9b;
	margin-top: 25px;
}
.body4 .pic4{
	width: 430px;
	height: 266px;
	position: absolute;
	top: 82px;
	right: 70px;
}
.footer{
	width: 100%;
	height: 179px;
	border-top: 1px solid #dad7d7;
	background-color: #fff;
	position: relative;
	margin-top: 20px;
}
.footer .logo2{
	position: absolute;
	top: 64px;
	left: 322px;
}
.footer .line{
	width: 4px;
	height: 60px;
	position: absolute;
	top: 60px;
	left: 558px;
}
.fo_te{
    width: 544px;
    height: 70px;
    font: 16px "Microsoft Yahei";
    color: #9a9b9b;
    line-height: 26px;
    background-color: #fff;
    text-align: right;
    position: absolute;
    top: 55px;
    right: 405px;
}
.fo_te ol{
	list-style: none;
}
.footer .ma{
	position: absolute;
	right: 325px;
	top: 62px;
}